# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
GenerateProject.**
build/

# Binaries
intermediate/
binaries/

# License Header
Sirius.sln.licenseheader
